.button{
	border: none;
	border-radius: 5px;
	font-size: 1.4vw;
	margin: 2vw;
	font-family: 'Droid Sans', sans-serif;
	padding: .4vw 1vw;
	outline: none;
	transition: all .5s;
	color: white;
	border: 2px solid white;
	background-color: transparent;
}

.button-share{
	width: 100%;
	margin: 2vh 0vh;
	text-align: left;
	font-weight: bold;
	font-size: 2.2vh;
	padding: 1vh;
	font-family: 'Droid Sans', sans-serif;
	z-index: 1;
	border: none;
	color: white;
	outline: none;
}

.button-share:hover i{
	opacity: 1;
	right: 5vh;
}

.button-share i{
	transition: all .5s;
	position: absolute;
	opacity: 0;
	right: 8vh;
	font-size: 2.7vh;
	padding: .4vh;
	z-index: 1;
	color: white;
}


.button-share-fb{
	background-color: #3A5795;
}

.button-share-tw{
	background-color: #5EA9DD;
}

.button-share-gp{
	background-color: #C23323;
}

.button-get-started{
	background-color: transparent;
	border: 2px solid white;
	color: white;
}

.button-deconnexion-validation{
	background-color: #9A443C;
	margin: 1vh;
}

.button-deconnexion-validation:hover{
	border-color: #9A443C;
	color: #9A443C;
	background-color: white;
}

.button-deconnexion-annulation{
	background-color: #578AB5;
	margin: 0;
	margin: 1vh;
}

.button-page-profil{
	text-transform: uppercase;
	border: none;
	font-size: 1.5vh;
	padding: 1vh;
	color: white;
	width: 45%;
	outline: none;
	transition: all .5s;
}

.bzh{
	font-size: 5vh;
	border:none;
	background: transparent;
	outline: none;
}

.button-ajouter-adresse{
	background-color: #2C86D8;
}

.button-ajouter-adresse:hover{
	background-color: #2969B0;
}

.button-ajouter-equipement{
	background-color: #61BD6D;
}

.button-ajouter-equipement:hover{
	background-color: #41A85F;
}

.header-button{
	background: transparent;
	border: none;
	outline: none;
	padding: 0;
	transition: all .5s;
}

.header-button:hover label{
	color: black;
}

.close-header{
	color: #FF1B05;
}

.modify-header{
	color: #2F85EB;
}

.link-header{
	color: #61BD6D;
}


.header-button label{
	color: white;
	margin: 0;
	margin-left: 6px;
	cursor: pointer;
}

.button-deconnexion-annulation:hover{
	border-color: #578AB5;
	color: #578AB5;
	background-color: white;
}

.button-get-started:hover{
	font-size: 1.7vw;
}

.button-connexion{
	border: none;
	background-color: #54ACD2;
	padding: .8vw 2vw;
	border: 2px solid transparent;
}

.button-inscription{
	border: none;
	background-color: #1ABC9C;
	padding: .8vw 2vw;
	border: 2px solid transparent;
}

.button-submit{
	border: none;
	background-color: #2E8ECE;
	padding: .8vw 2vw;
	border: 2px solid transparent;
	text-transform: uppercase;
	font-weight: bold;
	font-family: inherit;
	margin: 0;
	margin-top: 2vw;
}

.button-submit:hover{
	background-color: #1ABC9C;
}

.button-cancel{
	border: none;
	background-color: #83A0B3;
	padding: .8vw 2vw;
	border: 2px solid transparent;
	text-transform: uppercase;
	font-weight: bold;
	font-family: inherit;
	margin: 0;
	margin-top: 2vw;
}

.button-cancel:hover{
	background-color: #D6922A;
}

.button-inscription:hover, .button-connexion:hover{
	border: 2px solid white;
	background-color: transparent;
}

.button-nav{
	padding: inherit;
	margin: inherit;
	font-size: 2vh;
	min-width: 4vh;
	height: 4vh;
	border-color: transparent;
	color: white;
	margin-top: 3vh;
	margin-right: 1vh;
	padding: 0.4vh 2vh;
}



.button-nav:last-child{
	margin-right: 7vh;
}

.button-deconnexion{
	background-color: #DE2C1B;
}

.button-profil, .button-accueil{
	background-color: transparent;
	font-weight: bold;
	border-radius: inherit;
}

.button-contact{
	background-color: #5AA7EF;
}

.button-contact:hover{
	color: #5AA7EF;
	background-color: white;
	border-color: #5AA7EF;
}

.button-profil:hover, .button-accueil:hover{
	color: #3CFF6F;
}

.button-profil i, .button-accueil i{
	margin-right: 1vh;
}

.button-deconnexion:hover{
	border-color: #FF2A16;
	color: #FF2A16;
	background-color: white;
}


.button_gros{
	opacity: .6;
}