@import url(http://fonts.googleapis.com/css?family=Roboto:400,500,700);

.panel-connexion{
	text-align: left;
	padding: 2vw;
	border-radius: 1.5vw;
	border: 1px solid white;
	background-color: white;
}

.panel-connexion h4{
	font-size: 4vw;
	color: #242529;
	text-transform: uppercase;
	font-weight: bold;
	position: relative;
	margin-bottom: 1.7vw;
}

.input-with-icon{
	position: relative;
}

.input-with-icon > i{
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	font-size: 2.7vh;
	padding-top: .3vh;
	margin-right: 1.5vh;
	z-index: 1;
	color: #7E8690;
}

.float-button-search{
	position: absolute;
	right: 1px;
	top: 1px;
	bottom: 1px;
	color: #7E8690;
	background-color: white;
	border: none;
	outline: none;
	width: 5vh;
	transition: all .5s;

}

.seance-form-recherche select{
	width: 100%;
	padding: 1vh;
	font-size: 2vh;
	outline: none;
	line-height: 1;
	border: 0;
	-webkit-appearance: none;
	border-radius: 0 !important;
	cursor:pointer;
	background-color: white;
	border: 1px solid #E3E3E3;
	font-family: 'Droid Sans', sans-serif;
	font-weight: bold;
	color: #A9A9A9;
}

.float-button-search:hover{
	background-color: #7E8690;
	color: white;
}

.search-film, .search-date{
	outline: none;
	width: 100%;
	font-size: 2vh;
	padding: .5vh;
	font-family: 'Droid Sans', sans-serif;
	font-weight: bold;
	border: 1px solid #E3E3E3;
	padding-right: 7vh;
	padding-left: 1vh;
	color: #A9A9A9;
}

.panel-connexion input{
	width: 100%;
	border: none;
	border-bottom: 1px solid lightgrey;
	background-color: transparent;
	font-size: 1.3vw;
	margin-bottom: 1.7vw;
	color: black;
	font-weight: bold;
	outline: none;
	text-transform: uppercase;
}

 
.panel-connexion input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: lightgrey;
}

.form-inscription, .form-connexion, .form-panel{
	display: none;
}

form .label-placeholder{
	opacity: 0;
	transition: all .7s;
	font-size: 1vw;
	color: #929DA5;
	text-transform: uppercase;
}


.form-disconnect{
	display: none;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 99999999999;
	background-color: rgba(255, 255, 255, 0.9);
	text-align: center;
}

.form-disconnect-content{
	background-color: transparent;
	width: 100vw;
	height: 100vh;
	display: table-cell;
	vertical-align: middle;
}

.form-disconnect-content h4{
	font-size: 5vh;
	font-family: 'Droid Sans', sans-serif;
	font-weight: bold;
	transition: all .5s;
}
