nav{

	background: url('../img/new.jpg') no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

	background: #1e69de; /* Old browsers */
	background: -moz-linear-gradient(45deg, #1e69de 0%, #3690f0 49%, #54a3ee 50%, #6db3f2 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(45deg, #1e69de 0%,#3690f0 49%,#54a3ee 50%,#6db3f2 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(45deg, #1e69de 0%,#3690f0 49%,#54a3ee 50%,#6db3f2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e69de', endColorstr='#6db3f2',GradientType=1 ); 	
	 /* IE6-9 fallback on horizontal gradient */
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 999;
	transition: all .7s;
	text-align: right;
	padding-right: 3vh;
}

.navbar-invisible{
	background: rgba(255,255,255, .0);
}

@media all and (max-width: 682px){
	nav{
		display: none;
	}
}

footer{
	border-top-color: #EBF0F2;
	background-color: white;
}

footer > .row > div:nth-child(2){
	text-align: center;
	font-size: 2vh;
	padding-top: 4vh;
	color: black;
}

footer > .row > div:nth-child(3){
	text-align: right;
}

footer img{
	width: 10vh;
	height: 10vh;
	margin: 1.5vh;
	margin-left: 3vh;
	padding: 1vh;
	cursor: pointer;
	border-radius: 50%;
	background-color: #5AA7EF;
}

footer > .row > .col-xs-12, footer > .row > .col-sm-12{
	text-align: center;
}

.filtre-nav{
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 999;

}

.barre-nav h4{
	color: white;
	float: left;
	margin: 3vh;
	margin-left: 9vh;
	font-size: 4vh;
}

nav > img{
	width: 9vh;
	margin: .5vh;
	margin-left: 3vh;
	padding: .5vh;
	cursor: pointer;
	float: left;
	border-radius: 5px;
}

.label-user{
	font-weight: normal;
}