{% extends 'sitebase.html.twig' %}

{% block title %}Home{% endblock %}

{% block main %}
	<section class="section-home section-home-start">
		<h1 class="object-hidden-trans">Maties & Chill</h1>
		<h2 class="object-hidden-rot">Une envie cinéma ?</h2>
		<button type="button" class="button button-get-started object-hidden-trans">Démarrer l'aventure</button>
	</section>
	<section id="section-discover" class="section-home section-home-discover">
		<div class="collection-cartes">
			<div class="row" id="row-right">
				<div class="carte col-lg-4 col-md-4 col-sm-4 col-xs-4">
					<div class="carte-contenu object-hidden-trans">
						<div class="carte-header">
							<h4>Découverte</h4>
							<i class="fa fa-film"></i>
						</div>
						<div class="carte-description">
							<p>Maties & Chill vous permet d'agrémenter votre culture filmographique avec un panel complet de films en tout genre.</p>
						</div>
					</div>
				</div>
				<div class="carte col-lg-4 col-md-4 col-sm-4 col-xs-4">
					<div class="carte-contenu object-hidden-trans">
						<div class="carte-header">
							<h4>Partage</h4>
							<i class="fa fa-share-alt"></i>
						</div>
						<div class="carte-description">
							<p>Maties & Chill garantit un partage et une convivialité importante entre tous ses utilisateurs.<br/>Profitez de la vie.</p>
						</div>
					</div>
				</div>
				<div class="carte col-lg-4 col-md-4 col-sm-4 col-xs-4">
					<div class="carte-contenu object-hidden-trans">
						<div class="carte-header">
							<h4>Convivialité</h4>
							<i class="fa fa-thumbs-o-up"></i>
						</div>
						<div class="carte-description">
							<p>Maties & Chill agrandit votre cercle social en vous proposant des séances selon vos affinités et vos gouts. </p>
						</div>
					</div>
				</div>		
			</div>
			<div class="row" id="row-left">
				<div class="panel-boutons col-lg-12 col-md-12">
					<button type="button" class="button button-inscription object-hidden-rot">S'inscrire</button>
					<label class="object-hidden-trans">ou</label>
					<button type="button" class="button button-connexion object-hidden-rot">Se connecter</button>
				</div>
			</div>
			<div class="form-panel">
				<div class="panel-boutons col-lg-12 col-md-12">
					<button type="button" class="button button-inscription object-hidden-rot">S'inscrire</button>
					<label class="object-hidden-trans">ou</label>
					<button type="button" class="button button-connexion object-hidden-rot">Se connecter</button>
				</div>
			</div>
			<div class="form-inscription">
				<div class="col-lg-3 col-md-2 col-sm-1 col-xs-1">
				</div>
				<div class="panel-connexion col-lg-6 col-md-8 col-sm-10 col-xs-10">
					<form id="inscription" method="POST" action="inscription.php">
						<h4>Inscription</h4>
						<div class="group-input-label">
							<div class="label-placeholder">Nom</div><input id="inscrip-nom" type="text" name="nom" placeholder="Nom" required/>
						</div>
						<div class="group-input-label">
							<div class="label-placeholder">Prénom</div><input id="inscrip-prenom" type="text" name="prenom" placeholder="Prénom" required/>
						</div>
						<div class="group-input-label">
							<div class="label-placeholder">Date de naissance</div><input id="inscrip-datenaissance" type="text" name="datenaissance" placeholder="Date de naissance" required/>
						</div>
						<div class="group-input-label">
							<div class="label-placeholder">Téléphone</div><input type="text" id="inscrip-tel" name="telephone" placeholder="Téléphone" required/>
						</div>
						<div class="group-input-label">
							<div class="label-placeholder">E-mail</div><input type="email" id="inscrip-email" name="email" placeholder="E-mail" required/>
						</div>
						<div class="group-input-label">
							<div class="label-placeholder">Mot de passe</div><input type="password" id="inscrip-mdp" name="mdp" placeholder="Mot de passe" required/>
						</div>
						<button type="submit" class="button button-submit">Inscription</button>
						<button type="button" class="button button-cancel">Retour</button>
					</form>
				</div>
				<div class="col-lg-3 col-md-2 col-sm-1 col-xs-1">
				</div>
			</div>
			<div class="form-connexion">
				<div class="col-lg-3 col-md-2 col-sm-1 col-xs-1">
				</div>
				<div class="panel-connexion col-lg-6 col-md-8 col-sm-10 col-xs-10">
					<form id="connexion" method="POST" action="connexion.php">
						<h4>Connexion</h4>
						<div class="group-input-label">
							<div class="label-placeholder">E-mail</div><input type="email" id="connect-email" name="email" placeholder="E-mail" required/>
						</div>
						<div class="group-input-label">
							<div class="label-placeholder">Mot de passe</div><input id="connect-mdp" type="password" name="mdp" placeholder="Mot de passe" required/>
						</div>
						<button type="submit" class="button button-submit">Connexion</button>
						<button type="button" class="button button-cancel">Retour</button>
					</form>
				</div>
				<div class="col-lg-3 col-md-2 col-sm-1 col-xs-1">
				</div>
			</div>
		</div>
	</section>
{% endblock %}

{% block javascripts %}
	<script type="text/javascript">
		$(document).ready(function(){
			$('nav').css("opacity", 0);
			setTimeout(function(){
				$('h1').toggleClass('object-hidden-trans');
			}, 500);
			setTimeout(function(){
				$('h2').toggleClass('object-hidden-rot');
			}, 1200);
			setTimeout(function(){
				$('.button-get-started').toggleClass('object-hidden-trans');
				setInterval(function(){
					$('.button-get-started').toggleClass('button_gros');
				}, 500);
			}, 1900);

			$('.button-get-started').click(function(){
				$('.section-home-discover').css("display", "block");
				setTimeout(function(){
					scroller('#section-discover');
					setTimeout(function(){
						$('.section-home-start').css("display", "none");
						$('.carte-contenu').toggleClass('object-hidden-trans');
					}, 900);
					setTimeout(function(){
						$('.button-inscription').toggleClass('object-hidden-rot');
						$('.button-connexion').toggleClass('object-hidden-rot');
					}, 1500);
					setTimeout(function(){
						$('label').toggleClass('object-hidden-trans');
						//$('nav').css("opacity", 1);
					}, 2000);
				}, 100);
			});

			$('body').on('click', '.button-inscription', function(event) {
				$('#row-right').addClass('move-right');
				$('#row-left').addClass('move-left');
				setTimeout(function(){
					$('#row-right').hide();
					$('#row-left').html( $('.form-inscription').html() );
					$('#row-left').removeClass('move-left');
					$('.section-home-discover').toggleClass('section-home-discover-form');
					$('.button-cancel').click(function(){
						$('#row-left').addClass('move-left');
						$('#row-right').show();
						setTimeout(function(){
							$('.section-home-discover').toggleClass('section-home-discover-form');
							$('#row-left').html( $('.form-panel').html() );
							$('#row-left').removeClass('move-left');
							$('#row-right').removeClass('move-right');
						}, 600);
					});
				}, 600);

			});

			$('body').on('click', '.button-connexion', function(event) {
				$('#row-right').addClass('move-right');
				$('#row-left').addClass('move-left');
				setTimeout(function(){
					$('#row-right').hide();
					$('#row-left').html( $('.form-connexion').html() );
					$('#row-left').removeClass('move-left');
					$('.section-home-discover').toggleClass('section-home-discover-form');
					$('.button-cancel').click(function(){
						$('#row-left').addClass('move-left');
						$('#row-right').show();
						setTimeout(function(){
							$('.section-home-discover').toggleClass('section-home-discover-form');
							$('#row-left').html( $('.form-panel').html() );
							$('#row-left').removeClass('move-left');
							$('#row-right').removeClass('move-right');
						}, 600);
					});
				}, 600);
			});

			$('body').on('keyup', 'input', function(){
				if($(this).val().length > 0){
					$(this).parent().find('.label-placeholder').css("opacity", 1);
				}else{
					$(this).parent().find('.label-placeholder').css("opacity", 0);	
				}
			});

			$('body').on('submit', '#connexion', function(e){
				e.preventDefault();
				var DATA = 'email=' + $('#connect-email').val();
			    $.ajax({
			        type: "GET",
			        url: "{{ path('site_user_connexion')}}",
			        data: DATA,
			        cache: false,
			        success: function(data){
			        	var res = data;
			        	var id = 0;
			        	$.each(res[0], function(key, value){
			        		if(key == "id"){
			        			id=value;
			        		}
						    if(key == "password"){
						    	if(MD5($('#connect-mdp').val()) == value){
						    		var link = "{{ path('site_user_connect') }}?id="+id;
						    		document.location.href=link;
			        			}else{
			        				alert('E-mail ou mot de passe incorrects');
			        			}
						    }
						});
			        }
			    }).done(function(msg){
			    	console.log('Requête envoyée');
			    });    
			    return false;
			});

		});
	</script>
{% endblock %}